﻿@{
    ViewData["Title"] = "Home Page";
}

@using GeekStream.Core.ViewModels
@model IEnumerable<ArticleViewModel>

<p>
    <a asp-controller="Categories" asp-action="Index">Category List</a>
</p>

@foreach (var article in Model)
{
    <div class="card mb-2">
        <div class="card-body">
            <a asp-controller="Articles" asp-action="Details" asp-route-id="@article.Id">
                <h5 class="card-title">@article.Title</h5>
            </a>
            <p class="card-text">@article.Content</p>
        </div>
    </div>
}
