﻿
@using GeekStream.Core.ViewModels
@model IEnumerable<ArticleViewModel>

@{
    ViewData["Title"] = "Search";
}

<h1>Search</h1>
<p>
    <a asp-action="Index">Back to list</a>
</p>

@foreach (var article in Model)
{
    <div class="card mb-2">
        <div class="card-body">
            <a asp-controller="Articles" asp-action="Details" asp-route-id="@article.Id">
                <h5 class="card-title">@article.Title</h5>
            </a>
            <p class="card-text">@article.Content</p>
        </div>
    </div>
}